[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=fkx
WorkingDirectory=/home/fkx/sites/SITENAME/source
ExecStart=/home/fkx/sites/SITENAME/virtualenv/bin/gunicorn--bind unix:/temp/SITENAME.socket notes.wsgi:application

[Install]
WantedBy=nulti-user.target